.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .flex input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table td {
    vertical-align: middle;
  }
  .search-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .search-icon {
    margin-right: 5px;
  }
  
  
  .btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .btn-icon:hover {
    color: #007bff;
  }
  